<!-- <!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <a href="https://pidatacenters.com/" class="logo" target="_blank">
      <img src="static\images\logo.jpeg" alt="logo" width="60" height="60" />
    </a>
    <div class="login-container">
      <h1 class="header">Registeration Page</h1>
      <form method="POST" action="">
        {{ form.hidden_tag()}} {{ form.username }} {{ form.password }} {{
        form.submit }}
      </form>
      <a href="{{url_for('login')}}">Already have an acount? Log in</a>
    </div>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <a href="https://pidatacenters.com/" class="logo" target="_blank">
      <img src="static\images\logo.jpeg" alt="logo" width="60" height="60" />
    </a>
    <div class="login-container">
      <h1 class="header">Registration Page</h1>
      <form method="POST" action="">
        {{ form.hidden_tag() }} {{ form.username }} {{ form.password }} {% if
        form.username.errors %}
        <div class="errors">
          {% for error in form.username.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %} {{ form.submit }}
      </form>
      <a href="{{ url_for('login') }}">Already have an account? Log in</a>
    </div>
  </body>
</html>
